/* LoginForm.css */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    background-color: #ffffff; /* Fond de la page, ajuste si nécessaire */
  }
  
  .card-custom {
    transition: all ease-in-out 0.5s;
    min-height: 500px;
    text-align: left;
    width: 100%;
    max-width: 400px; /* Ajuste la largeur de la carte */
    background-color: rgba(28, 24, 55, 0.93) ; /* Fond de la carte */
    color: #fff;
    border: none; /* Pas de bordures */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 20px;
    text-align: center;
  }
  
  .card-header {
    margin-bottom: 20px;
  }
  
  .card-header img {
    width: 150px; /* Ajuste la taille de l'icône */
    height: auto;
  }
  